
.treatPage {
    margin-top: 100px;
    display: flex;
    justify-content: center; /* 요소를 수평으로 중앙 배치 */
    gap: 2rem;
}

.leftSide {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.rightSide {
    display: flex;
    flex-direction: column;
}

.oppVideo {
    height: 70vh;
    width: 90vh;
}

.myVideo {
    height: 35vh;
    width: 50vh;
}

video {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    display: block;
}

.buttons {
    display: flex;
    flex-direction: column; /* 가로로 배치 */
    align-items: center; /* 요소들을 세로로 가운데 정렬 */
    justify-content: center; /* 요소를 수평으로 중앙 배치 */
    gap: 10px; /* 요소들 사이의 간격 */
}

.myId {
    display: flex;
    flex-direction: column; /* 이 부분은 필요에 따라 row로 변경 가능 */
    align-items: flex-start; /* 자식 요소들을 왼쪽으로 정렬 */
    gap: 10px; /* 자식 요소들 사이의 간격 */
}

.call-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
}


.buttons button {
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    width: 100%; /* 버튼을 전체 너비로 설정 */
}

.buttons button:hover {
    background: #0056b3;
}

.warnning-text {
    display: flex;
    color: #000;
    font-size: 2rem;
}
